# Printing Hello World

In [6]:
print("Hello World!")

Hello World!

# Printing addition of two Number

In [2]:
# Create a a Variable
a=3
# Craete a Second variable
b=5
print("Addition is:",a+b)

Addition is: 8

# Variables

In [6]:
#A variable is created the moment you first assign a value to it.
#


x = 5
y = "John"
print(x)
print(y)

5
John

In [10]:
#Variables do not need to be declared with any particular type, and can even change type after they have been set.

x = 4       # x is of type int
x = "Pranav" # x is now of type str
print(x)

Pranav

# Casting

In [22]:
#If you want to specify the data type of a variable, this can be done with casting.

x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x);
print(y);
print(z);

3
3
3.0

# Get the Type of variable

In [27]:
#You can get the data type of a variable with the type() function.
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# Variable Names

In [34]:
#A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
#A variable name must start with a letter or the underscore character
#A variable name cannot start with a number
#A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
#Variable names are case-sensitive (age, Age and AGE are three different variables)
#A variable name cannot be any of the Python keywords.
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

# Assign Multiple Values

In [40]:
#Many Values to Multiple Variables
#Python allows you to assign values to multiple variables in one line:

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

# One value to multiple variables

In [44]:
#And you can assign the same value to multiple variables in one line:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

 # Global Variables

In [48]:
#Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

#Global variables can be used by everyone, both inside of functions and outside.
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

# Addition of two numbers using users input

In [3]:
#Program for the addition of two Numbers user taken values
#Declare the First Variable 
a=int(input("Enter the First Number:"))
#Declare the Second Variable
b=int(input("Enter the Second Number:"))
#Create a Variable consisting of addition of the Two Variables
c=a+b
#Priting The Addition 
print("The Addition of",a,"and",b,"is",c)

Enter the First Number: 10
Enter the Second Number: 25

The Addition of 10 and 25 is 35

# Addition of two complex numbers

In [8]:
#Program for the addition of the two Complex Numbers 
#first complex number 
a=complex(2,4)
#Second complex number 
b=complex(4,5)
#addtion of the two complex number 
c=a+b
#printing the addition of the two numbers 
print("The Addition of",a,"and",b,"is",c)

The Addition of (2+4j) and (4+5j) is (6+9j)

# Finding Area of triangle by Taking the user Input

In [13]:
#Finding the Area of rectangle
#Taking the Length of rectangle
l=float(input("Entger the Length:"))
#Taking the Width of the rectangle
w=float(input("Enter the Width:"))
a=l*w
print("The Area of the Rectangle is:",a)

Entger the Length: 10
Enter the Width: 5

The Area of the Rectangle is: 50.0

# Area of circle

In [18]:
# Finding the Area of the Circle
# Taking the Radius of the Circle
r=float(input("Enter the Radius:"))
#Calculating the Area of the Circle
a=r*r
print("Area of the Circle is:",a)

Enter the Radius: 5

Area of the Circle is: 25.0

# Data types in Python

In [24]:
#str
x = "Hello World"
#display the data type of x:
print(type(x))

<class 'str'>

In [26]:
#int
x=10;
print(type(x))

<class 'int'>

In [28]:
#float
x=12.65;
print(type(x))

<class 'float'>

In [34]:
#complex
a=1+2j;
print(type(a))

<class 'complex'>

# List

In [38]:
#Lists are used to store multiple items in a single variable.


#Lists are created using square brackets
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

# List operations

# Insert operation on list

In [47]:
# Creating a list 
l=['x','y','z']
print(l)

#Insert()
#inserting the 'a' variable at the index 1
l.insert(1,'a')
print(l)

['x', 'y', 'z']
['x', 'a', 'y', 'z']

# Append operation on list

In [51]:
# Creating a list 
l=['x','y','z']
print(l)

#Append()
#Append the 'b' variable 
l.append('b')
print(l)

['x', 'y', 'z']
['x', 'y', 'z', 'b']

# Extend operation on list

In [61]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

# Remove operation on list

In [65]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

# Pop operation

In [70]:
#remove specified operation
thislist = ["apple", "banana", "cherry"]  
thislist.pop(1)
print(thislist)
#If you do not specify the index, the pop() method removes the last item.

['apple', 'cherry']

# List Comprehension

In [75]:
#Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

#Without list comprehension you will have to write a for statement with a conditional test inside:


fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

# Sort List Alphanumerically or alphabetically

In [79]:
#List objects have a sort() method that will sort the list alphanumerically, ascending, by default:
#sort the list numerically
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [81]:
#sort the list alphabetically

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

# Sort decending

In [87]:
#To sort descending, use the keyword argument reverse = True:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

# Reverse order

In [91]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

# Join lists

In [95]:
#There are several ways to join, or concatenate, two or more lists in Python.
#One of the easiest ways are by using the + operator.
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

# Tuple

In [99]:
#Tuples are used to store multiple items in a single variable.
#A tuple is a collection which is ordered and unchangeable.
#Tuples are written with round brackets.


thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

# Tuple length

In [103]:
#Tuple Length
#To determine how many items a tuple has, use the len() function:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3